// OLD
@import url("https://use.typekit.net/aaq0agq.css");
$avant-garde: itc-avant-garde-gothic-pro, sans-serif;
$baskerville: baskerville-urw, serif;

// NEW
@import url("https://use.typekit.net/tah7yex.css");
$futura-pt: futura-pt, sans-serif;