/*

    Theme Name: Jonathan Pauls
    Theme URI: https://jonathanpauls.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of Jonathan Pauls
    Version: 1.0

*/
@import url("https://use.typekit.net/aaq0agq.css");
@import url("https://use.typekit.net/tah7yex.css");
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1;
}

/* Links */
a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover, a:active {
  outline: none;
}

/* Typography */
abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 1em 0;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* Lists */
dd {
  margin: 0 0 0 40px;
}

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

/* Figure */
figure {
  margin: 0;
}

/* Forms */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative;
}

/* Border-Box */
* {
  box-sizing: border-box;
}

/* Responsive Image */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

::-moz-selection {
  background: #D4B154;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #D4B154;
  color: #fff;
  text-shadow: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  bottom: -35px;
  padding: 0;
  border: none;
  z-index: 100;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 20px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: 20px;
}
@media screen and (min-width: 992px) {
  .slick-prev {
    left: 40px;
  }
  [dir=rtl] .slick-prev {
    left: auto;
    right: 40px;
  }
}
.slick-prev:before {
  width: 60px;
  height: 60px;
  content: "";
  display: block;
}

.slick-next {
  right: 20px;
}
[dir=rtl] .slick-next {
  left: 20px;
  right: auto;
}
@media screen and (min-width: 992px) {
  .slick-next {
    right: 40px;
  }
  [dir=rtl] .slick-next {
    left: 40px;
    right: auto;
  }
}
.slick-next:before {
  width: 60px;
  height: 60px;
  content: "";
  display: block;
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -1rem;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  z-index: 10;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  padding: 0 !important;
  cursor: pointer;
}
.slick-dots li:nth-last-child(n+1):nth-last-child(-n+1):first-child, .slick-dots li:nth-last-child(n+1):nth-last-child(-n+1):first-child ~ li {
  display: none;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 12px;
  width: 12px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 6px;
  height: 6px;
  line-height: 20px;
  text-align: center;
  background: transparent;
  border: 2px solid #3d3d3d;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before {
  background: #3d3d3d;
  border-color: #3d3d3d;
}

body,
button,
input,
select,
optgroup,
textarea {
  font-family: futura-pt, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: futura-pt, sans-serif;
}

a {
  color: #2A2A2A;
  transition: all 0.2s ease-in-out;
}

.section-header {
  font-size: clamp(2rem, 3.6vw, 3rem);
  font-weight: bold;
}

.copy-1 {
  font-size: clamp(1.25rem, 1.7vw, 1.5rem);
  line-height: 1.7777em;
  color: #3d3d3d;
}

.copy-2 {
  font-size: clamp(1.125rem, 1.2vw, 1.25rem);
  line-height: 2em;
  color: #3d3d3d;
}

.copy-1.extended p + p,
.copy-2.extended p + p {
  margin-top: 1.5rem;
}
.copy-1 ul,
.copy-2 ul {
  list-style-type: disc;
}
.copy-1 ol,
.copy-2 ol {
  list-style-type: decimal;
}
.copy-1 ul, .copy-1 ol,
.copy-2 ul,
.copy-2 ol {
  padding-left: 1.5rem;
  padding-top: 2rem;
}

body {
  background: #fff;
}

.grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: minmax(0, auto) repeat(4, minmax(auto, 1fr)) minmax(0, auto);
}
@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(8, minmax(auto, 1fr)) minmax(0, auto);
  }
}
@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(12, minmax(0, 4.5rem)) minmax(0, auto);
  }
}
.grid > * {
  grid-column: 2/span 4;
}
@media screen and (min-width: 480px) {
  .grid > * {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 992px) {
  .grid > * {
    grid-column: 2/span 12;
  }
}

.sub-grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
}
@media screen and (min-width: 480px) {
  .sub-grid {
    grid-template-columns: repeat(8, minmax(auto, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .sub-grid {
    grid-template-columns: repeat(12, minmax(0, 4.5rem));
  }
}
.sub-grid > * {
  grid-column: 1/span 4;
}
@media screen and (min-width: 480px) {
  .sub-grid > * {
    grid-column: 1/span 8;
  }
}
@media screen and (min-width: 992px) {
  .sub-grid > * {
    grid-column: 1/span 12;
  }
}

/*
.grid-sizer,
.grid-item {
	width: calc(50% - 8px);

	@include tablet {
		width: calc(33.3333% - 16px);
	}
}

.grid-item {
	margin-bottom: 16px;
}
*/
.cta .btn {
  display: inline-block;
  color: #fff;
  border: 2px solid #D4B154;
  background: #D4B154;
  padding: 0.75rem 1rem;
  font-size: clamp(0.875rem, 1vw, 1rem);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
@media screen and (min-width: 768px) {
  .cta .btn {
    font-weight: bold;
    padding: 1.25rem 1.75rem;
  }
}
.cta .btn.outline {
  background: transparent;
}
.cta .btn.outline:hover {
  background: #D4B154;
}
.cta .btn.outline__white {
  color: #fff;
  border-color: #fff;
}
.cta .btn.outline__white:hover {
  background: #fff;
  color: #D4B154;
}
.cta .underline {
  font-weight: bold;
  color: #D4B154;
  text-decoration: underline;
  font-size: clamp(1rem, 1.2vw, 1.375rem);
}

.counter {
  display: flex;
}
.counter-wrapper {
  display: flex;
  padding: 5px;
  border: 2px solid rgba(42, 42, 42, 0.6);
}
.counter h5 {
  padding: 1.25rem;
  border: 1px solid rgba(42, 42, 42, 0.5);
  font-style: italic;
  font-size: 1.5rem;
  font-family: Georgia, sans-serif;
  color: #3d3d3d;
}

.default-hero {
  align-items: center;
  margin-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  .default-hero {
    margin-bottom: 8rem;
  }
}
.default-hero:before {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  background: #2A2A2A;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
}
.default-hero .photo {
  grid-row: 1;
  grid-column: 1/-1;
  position: relative;
}
.default-hero .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.default-hero .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.default-hero .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .default-hero .photo {
    position: relative;
  }
  .default-hero .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 37.5%;
  }
  .default-hero .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 1920px) {
  .default-hero .photo {
    position: relative;
  }
  .default-hero .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 31.25%;
  }
  .default-hero .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.default-hero .photo .content {
  box-shadow: 0 2px 50px rgba(73, 76, 79, 0.6);
}
@media screen and (min-width: 1680px) {
  .default-hero .photo .content {
    max-width: 1920px;
    margin: 0 auto;
  }
}
.default-hero .info {
  grid-row: 1;
  color: #fff;
}
.default-hero .info .headline h1 {
  font-size: clamp(1.25rem, 4vw, 2.5rem);
  font-weight: bold;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  line-height: 1.25em;
  font-family: futura-pt, sans-serif;
}
@media screen and (min-width: 768px) {
  .default-hero .info .headline h1 {
    font-size: clamp(3rem, 4.75vw, 4rem);
  }
}
.default-hero .info .sub-headline {
  padding: 0 0 0.5rem 0;
}
.default-hero .info .sub-headline h2 {
  font-size: clamp(0.75rem, 1.3vw, 1rem);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  font-family: futura-pt, sans-serif;
}

body .fslightbox-container {
  background: rgba(255, 255, 255, 0.9);
}
body .fslightbox-toolbar {
  top: 6px;
  right: 6px;
  background: unset;
}
body .fslightbox-slide-btn,
body .fslightbox-toolbar-button {
  background: #D4B154;
  border: 1px solid rgba(0, 0, 0, 0.075);
  transition: all 0.2s ease-in-out;
}
body .fslightbox-slide-btn:hover,
body .fslightbox-toolbar-button:hover {
  transform: translateY(-2px);
}
body .fslightbox-slide-btn[title="Exit fullscreen"],
body .fslightbox-toolbar-button[title="Exit fullscreen"] {
  display: none;
}
body .fslightbox-slide-btn .fslightbox-svg-path,
body .fslightbox-toolbar-button .fslightbox-svg-path {
  fill: #fff;
}
body .fslightbox-slide-btn .fslightbox-svg-path:hover,
body .fslightbox-toolbar-button .fslightbox-svg-path:hover {
  fill: #fff;
}

.site-header {
  background: #2A2A2A;
  color: #fff;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .site-header {
    padding: 2rem;
  }
}
.site-header .site-logo {
  max-width: 280px;
}
@media screen and (min-width: 992px) {
  .site-header .site-logo {
    max-width: 320px;
  }
}
@media screen and (min-width: 1280px) {
  .site-header .site-logo {
    max-width: 352px;
    margin-left: 1rem;
  }
}
.site-header .site-logo a {
  display: block;
}
.site-header .site-logo img {
  width: 100%;
}
.site-header .hamburger {
  padding-left: 2rem;
}
@media screen and (min-width: 992px) {
  .site-header .hamburger {
    display: none;
  }
}
.site-header .hamburger a {
  width: 2rem;
  height: 22px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.site-header .hamburger a .patty {
  width: 2rem;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  margin-left: auto;
  transition: all 0.2s;
}
.site-header .hamburger a .patty:after, .site-header .hamburger a .patty:before {
  content: "";
  display: block;
  width: 2rem;
  height: 2px;
  background: #fff;
  position: absolute;
  z-index: 1;
  border-radius: 2px;
  transition: all 0.2s;
}
.site-header .hamburger a .patty:before {
  top: -8px;
}
.site-header .hamburger a .patty:after {
  top: 8px;
}
.site-header .site-navigation ul {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .site-header .site-navigation ul {
    padding-right: 1rem;
  }
}
.site-header .site-navigation ul li + li {
  margin-left: 3.25rem;
}
@media screen and (min-width: 992px) {
  .site-header .site-navigation ul li.mobile-only {
    display: none;
  }
}
.site-header .site-navigation ul a {
  color: #fff;
  font-size: 1.75rem;
}
@media screen and (min-width: 992px) {
  .site-header .site-navigation ul a {
    font-size: 1.25rem;
  }
}
.site-header .site-navigation ul a:hover {
  color: #2A2A2A;
}
@media screen and (min-width: 992px) {
  .site-header .site-navigation ul a:hover {
    color: #D4B154;
  }
}
.site-header .site-navigation ul a svg g {
  transition: all 0.2s ease-in;
}
.site-header .site-navigation ul a:hover svg g {
  fill: #2A2A2A;
}
@media screen and (min-width: 992px) {
  .site-header .site-navigation ul a:hover svg g {
    fill: #D4B154;
  }
}
@media screen and (max-width: 991px) {
  .site-header .site-navigation {
    position: absolute;
    top: 0;
    z-index: 1000;
    left: -60vw;
    width: 60vw;
    height: 100vh;
    background: #D4B154;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  .site-header .site-navigation ul {
    flex-wrap: wrap;
    padding: 3.25rem 2rem;
  }
  .site-header .site-navigation ul li {
    width: 100%;
  }
  .site-header .site-navigation ul li + li {
    margin: 2rem 0 0 0;
  }
}

body.nav-overlay-open .hamburger {
  z-index: 100;
}
body.nav-overlay-open .hamburger a .patty {
  background: none;
}
body.nav-overlay-open .hamburger a .patty:after {
  top: 0;
  transform: rotate(45deg);
}
body.nav-overlay-open .hamburger a .patty:before {
  top: 0;
  transform: rotate(-45deg);
}
@media screen and (max-width: 991px) {
  body.nav-overlay-open .site-navigation {
    left: 0;
    opacity: 1;
  }
}

body.page-template-about .site-header .site-navigation ul .nav-about,
body.page-template-process .site-header .site-navigation ul .nav-process,
body.page-template-work-index .site-header .site-navigation ul .nav-projects,
body.page-template-work-detail .site-header .site-navigation ul .nav-projects,
body.page-template-contact .site-header .site-navigation ul .nav-contact {
  color: #2A2A2A;
}
@media screen and (min-width: 992px) {
  body.page-template-about .site-header .site-navigation ul .nav-about,
body.page-template-process .site-header .site-navigation ul .nav-process,
body.page-template-work-index .site-header .site-navigation ul .nav-projects,
body.page-template-work-detail .site-header .site-navigation ul .nav-projects,
body.page-template-contact .site-header .site-navigation ul .nav-contact {
    color: #D4B154;
  }
}

.site-footer {
  background: #3d3d3d;
  color: #fff;
  padding: 4rem 0;
  font-size: 1rem;
  font-weight: 400;
}
.site-footer a {
  color: #fff;
}
.site-footer a:hover {
  color: #D4B154;
}
.site-footer .site-logo {
  padding-bottom: 4rem;
}
.site-footer .section-header {
  padding-bottom: 0.75rem;
}
.site-footer .section-header h4 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 1rem;
  font-family: futura-pt, sans-serif;
}
@media screen and (min-width: 480px) {
  .site-footer .footer-navigation {
    grid-column: 2/span 4;
  }
}
.site-footer .footer-navigation ul li + li {
  margin-top: 0.75rem;
}
.site-footer .footer-navigation .child-page {
  display: flex;
  align-items: center;
}
.site-footer .footer-navigation .child-page:before {
  content: "";
  display: block;
  width: 1rem;
  height: 1px;
  background: #fff;
  margin-right: 0.5rem;
}
.site-footer .contact-1 .detail + .detail,
.site-footer .contact-2 .detail + .detail {
  padding-top: 3rem;
}
.site-footer .contact-1 .detail p,
.site-footer .contact-2 .detail p {
  line-height: 1.5em;
}
.site-footer .contact-1 {
  padding-top: 4rem;
}
@media screen and (min-width: 480px) {
  .site-footer .contact-1 {
    padding-top: 0;
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 480px) {
  .site-footer .contact-2 {
    grid-column: 2/span 4;
    padding-top: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .site-footer .contact-2 {
    padding-top: 0;
    grid-column: 10/span 4;
  }
}
.site-footer .social-links a svg g {
  transition: all 0.2s ease-in;
}
.site-footer .social-links a:hover svg g {
  fill: #D4B154;
}
.site-footer .copyright {
  margin-top: 4rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(216, 216, 216, 0.1);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.875rem;
}
.site-footer .copyright > * {
  opacity: 0.5;
}
.site-footer .copyright p {
  width: 100%;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 480px) {
  .site-footer .copyright p {
    width: auto;
    padding-bottom: 0;
    padding-right: 1rem;
  }
}
.site-footer .copyright a {
  text-decoration: underline;
}
.site-footer .copyright a + a {
  margin-left: 1rem;
}

.about-contact {
  padding-bottom: 2rem;
}
@media screen and (min-width: 992px) {
  .about-contact {
    padding-bottom: 4rem;
  }
}
.about-contact .history {
  border: 2px solid #D4B154;
  padding: 2rem;
}
@media screen and (min-width: 1280px) {
  .about-contact .history {
    display: grid;
    gap: 2rem;
    align-items: start;
    grid-template-columns: 12rem 1fr;
  }
}
.about-contact .history .headline h3 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #D4B154;
  font-size: clamp(1.375rem, 3vw, 1.75rem);
}
.about-contact .history .copy-2 {
  padding: 0.5rem 0 2rem 0;
  font-size: clamp(1rem, 1.1vw, 1.125rem);
}
@media screen and (min-width: 1280px) {
  .about-contact .history .copy-2 {
    padding: 0 0 2rem 0;
  }
}
.about-contact .history .copy-2 > * + * {
  margin-top: 2rem;
}
.about-contact .contact-cta {
  margin-top: 2rem;
  background: #D4B154;
  padding: 2rem;
}
.about-contact .contact-cta .cta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body.page-template-home .site-content {
  padding-bottom: 0;
}
body.page-template-home .hero:before {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  background: #2A2A2A;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
}
body.page-template-home .hero-content {
  z-index: 10;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
body.page-template-home .hero-content__wrapper {
  padding: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  body.page-template-home .hero-content__wrapper {
    padding: 3rem;
  }
}
body.page-template-home .hero-content .headline h1 {
  font-size: clamp(1.25rem, 4vw, 2.5rem);
  font-weight: bold;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  line-height: 1.25em;
  font-family: futura-pt, sans-serif;
}
@media screen and (min-width: 768px) {
  body.page-template-home .hero-content .headline h1 {
    font-size: clamp(3rem, 4.75vw, 4rem);
  }
}
body.page-template-home .hero-content .tagline {
  padding: 0.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  body.page-template-home .hero-content .tagline {
    padding: 1rem 0 2rem 0;
  }
}
body.page-template-home .hero-content .tagline h2 {
  font-size: clamp(0.75rem, 1.3vw, 1rem);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  font-family: futura-pt, sans-serif;
}
body.page-template-home .hero-content .ctas {
  display: flex;
  align-items: center;
}
body.page-template-home .hero-content .ctas .cta + .cta {
  padding-left: 0.5rem;
}
body.page-template-home .hero-slider {
  grid-column: 1/-1;
}
body.page-template-home .hero-slider__wrapper {
  box-shadow: 0 2px 50px rgba(73, 76, 79, 0.6);
}
@media screen and (min-width: 1680px) {
  body.page-template-home .hero-slider__wrapper {
    max-width: 1920px;
    margin: 0 auto;
  }
}
body.page-template-home .hero-slider .photo {
  position: relative;
}
body.page-template-home .hero-slider .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-home .hero-slider .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-home .hero-slider .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  body.page-template-home .hero-slider .photo {
    position: relative;
  }
  body.page-template-home .hero-slider .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }
  body.page-template-home .hero-slider .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
body.page-template-home .hero-slider .caption {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  body.page-template-home .hero-slider .caption {
    bottom: 2rem;
    left: 3rem;
  }
}
body.page-template-home .hero-slider .caption p {
  background: rgba(255, 255, 255, 0.75);
  padding: 0.5rem 1rem;
  font-family: baskerville-urw, serif;
  font-size: clamp(0.75rem, 1.1vw, 0.9375rem);
  color: #000;
}
body.page-template-home .hero-slider .caption p a {
  color: #000;
}
body.page-template-home .hero-slider .caption p a:hover {
  text-decoration: underline;
}
body.page-template-home .hero .slick-slide:hover {
  cursor: ew-resize;
}
body.page-template-home .hero .slick-prev {
  display: none !important;
}
@media screen and (min-width: 1680px) {
  body.page-template-home .hero .slider-controls {
    max-width: 1920px;
    margin: 0 auto;
  }
}
body.page-template-home .hero .slider-controls__wrapper {
  position: absolute;
  bottom: -2rem;
  right: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  z-index: 10;
}
@media screen and (min-width: 1680px) {
  body.page-template-home .hero .slider-controls__wrapper {
    right: 0;
  }
}
body.page-template-home .about {
  padding: 6rem 0;
  text-align: center;
}
@media screen and (min-width: 992px) {
  body.page-template-home .about {
    padding: 8rem 0;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home .about > * {
    grid-column: 4/span 8;
  }
}
body.page-template-home .about .headline h2 {
  font-size: clamp(1.375rem, 2vw, 1.75rem);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
body.page-template-home .about .sub-headline {
  padding-top: 0.5rem;
}
body.page-template-home .about .sub-headline:after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #3d3d3d;
  margin: 1rem auto 2rem;
}
body.page-template-home .about .sub-headline h3 {
  font-style: italic;
  font-size: clamp(1rem, 1.3vw, 1.25rem);
  color: #b8b8b8;
}
body.page-template-home .hardwoods {
  padding: 0 0 6rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-home .hardwoods {
    padding: 0 0 8rem 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-home .hardwoods .info {
    grid-column: 7/span 3;
    grid-row: 1;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home .hardwoods .info {
    grid-column: 7/span 7;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-home .hardwoods .info {
    display: grid;
    gap: 2rem;
    grid-template-columns: 5rem 1fr;
  }
  body.page-template-home .hardwoods .info > * {
    grid-column: 2;
    align-self: start;
  }
  body.page-template-home .hardwoods .info .counter {
    grid-column: 1;
    grid-row: 1;
  }
}
body.page-template-home .hardwoods .counter {
  margin-bottom: 1rem;
}
body.page-template-home .hardwoods .copy-2 {
  padding: 1rem 0 2rem 0;
}
body.page-template-home .hardwoods .photo {
  padding-top: 3rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home .hardwoods .photo {
    padding-top: 0;
    grid-column: 2/span 4;
    grid-row: 1;
  }
}
body.page-template-home .finishes {
  padding: 6rem 0;
  background: #2A2A2A;
  color: #fff;
}
@media screen and (min-width: 992px) {
  body.page-template-home .finishes {
    padding: 8rem 0;
  }
}
body.page-template-home .finishes .counter {
  color: #fff;
  margin-bottom: 1rem;
}
body.page-template-home .finishes .counter-wrapper {
  border-color: rgba(255, 255, 255, 0.6);
}
body.page-template-home .finishes .counter h5 {
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}
body.page-template-home .finishes .copy-2 {
  color: #fff;
  padding: 1rem 0 2rem 0;
}
@media screen and (min-width: 768px) {
  body.page-template-home .finishes .info {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home .finishes .info {
    grid-column: 2/span 5;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-home .finishes .info {
    display: grid;
    gap: 2rem;
    grid-template-columns: 5rem 1fr;
  }
  body.page-template-home .finishes .info > * {
    grid-column: 2;
    align-self: start;
  }
  body.page-template-home .finishes .info .counter {
    grid-column: 1;
    grid-row: 1;
  }
}
body.page-template-home .finishes .photo {
  margin-top: 2rem;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.5);
  align-self: start;
}
@media screen and (min-width: 768px) {
  body.page-template-home .finishes .photo {
    margin-top: 0;
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home .finishes .photo {
    grid-column: 8/span 6;
  }
}
body.page-template-home .staging {
  padding: 6rem 0;
  text-align: center;
}
@media screen and (min-width: 992px) {
  body.page-template-home .staging {
    padding: 8rem 0;
  }
}
body.page-template-home .staging .counter {
  justify-content: center;
  margin-bottom: 1rem;
}
body.page-template-home .staging .headline {
  padding-bottom: 3rem;
}
body.page-template-home .staging .photo {
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.5);
}
body.page-template-home .staging .photo img {
  width: 100%;
}
body.page-template-home .staging .copy-2 {
  padding: 2rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-home .staging .copy-2 {
    grid-column: 4/span 8;
  }
}

body.page-template-about .overview {
  align-items: start;
  padding-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  body.page-template-about .overview {
    padding-bottom: 8rem;
  }
}
body.page-template-about .overview .info {
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  body.page-template-about .overview .info {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about .overview .info {
    padding-bottom: 0;
    grid-column: 2/span 5;
  }
}
body.page-template-about .overview .info .headline {
  padding-bottom: 1rem;
}
body.page-template-about .overview .gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 768px) {
  body.page-template-about .overview .gallery {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about .overview .gallery {
    grid-column: 8/span 6;
  }
}
body.page-template-about .overview .gallery .photo-1 {
  grid-column: 1/-1;
  position: relative;
}
body.page-template-about .overview .gallery .photo-1:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
body.page-template-about .overview .gallery .photo-1 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-about .overview .gallery .photo-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-about .overview .gallery .photo-2,
body.page-template-about .overview .gallery .photo-3 {
  position: relative;
}
body.page-template-about .overview .gallery .photo-2:before,
body.page-template-about .overview .gallery .photo-3:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-about .overview .gallery .photo-2 > .content,
body.page-template-about .overview .gallery .photo-3 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-about .overview .gallery .photo-2 img,
body.page-template-about .overview .gallery .photo-3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-about .faqs {
  background: #2A2A2A;
  color: #fff;
  padding: 4rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-about .faqs {
    padding: 8rem 0;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-about .faqs > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about .faqs > * {
    grid-column: 4/span 8;
  }
}
body.page-template-about .faqs .headline {
  text-align: center;
  padding-bottom: 2rem;
}
body.page-template-about .faqs .faq + .faq {
  margin-top: 4rem;
}
body.page-template-about .faqs .question {
  border: 1px solid #D4B154;
  padding: 1rem 2rem;
  transition: all 0.2s ease;
}
body.page-template-about .faqs .question:hover {
  cursor: pointer;
  background: #D4B154;
  color: #2A2A2A;
}
body.page-template-about .faqs .question h4 {
  font-weight: bold;
  font-size: clamp(1rem, 1.4vw, 1.125rem);
  line-height: 1.5em;
}
body.page-template-about .faqs .answer {
  transition: all 0.2s ease;
  background: #fff;
  height: 0;
  overflow: hidden;
}
body.page-template-about .faqs .answer > * {
  transition: all 1s ease;
  opacity: 0;
}
body.page-template-about .faqs .faq.active .question {
  background: #D4B154;
  color: #2A2A2A;
}
body.page-template-about .faqs .faq.active .answer {
  height: auto;
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.4);
}
body.page-template-about .faqs .faq.active .answer > * {
  opacity: 1;
}
body.page-template-about .history {
  padding: 4rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-about .history {
    padding: 8rem 0;
  }
}
body.page-template-about .history .history-header {
  text-align: center;
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  body.page-template-about .history .history-header > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about .history .history-header > * {
    grid-column: 4/span 8;
  }
}
body.page-template-about .history .history-header .headline {
  padding-bottom: 1rem;
}
body.page-template-about .history .event {
  max-width: 70vw;
  transform: scale(0.8);
  transition: all 0.3s ease;
  filter: blur(2px) saturate(0.5);
  opacity: 0.6;
}
@media screen and (min-width: 992px) {
  body.page-template-about .history .event {
    max-width: 50rem;
  }
}
body.page-template-about .history .event:hover {
  cursor: pointer;
}
body.page-template-about .history .event.slick-active {
  transform: scale(1);
  filter: blur(0) saturate(1);
  opacity: 1;
}
body.page-template-about .history .event.slick-active:hover {
  cursor: default;
}
body.page-template-about .history .event .photo {
  position: relative;
}
body.page-template-about .history .event .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
body.page-template-about .history .event .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-about .history .event .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-about .history .event .info {
  padding-top: 2rem;
  display: grid;
  gap: 1rem;
  align-items: center;
}
@media screen and (min-width: 768px) {
  body.page-template-about .history .event .info {
    grid-template-columns: 1fr 5fr;
    gap: 2rem;
  }
}
body.page-template-about .history .event .year h4 {
  font-size: clamp(1.75rem, 4vw, 3.5rem);
  color: #D4B154;
  font-weight: 400;
}
body.page-template-about .history .event .caption {
  line-height: 1.5em;
}
body.page-template-about .history .event .caption > * + * {
  margin-top: 0.5rem;
}
body.page-template-about .overview + .history {
  padding-top: 0;
}

body.page-template-process .site-content {
  padding-bottom: 0;
}
body.page-template-process .overview {
  text-align: center;
  padding-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  body.page-template-process .overview {
    padding-bottom: 8rem;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-process .overview > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-process .overview > * {
    grid-column: 4/span 8;
  }
}
body.page-template-process .design {
  padding-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  body.page-template-process .design {
    padding-bottom: 8rem;
  }
}
body.page-template-process .design .phase-header {
  text-align: center;
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  body.page-template-process .design .phase-header {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-process .design .phase-header {
    grid-column: 4/span 8;
  }
}
body.page-template-process .design .phase-header .headline {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  body.page-template-process .design .features {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-process .design .features {
    grid-column: 2/span 12;
  }
}
body.page-template-process .design .feature {
  display: grid;
  gap: 2rem;
  align-items: center;
}
body.page-template-process .design .feature + .feature {
  margin-top: 4rem;
}
@media screen and (min-width: 992px) {
  body.page-template-process .design .feature + .feature {
    margin-top: 6rem;
  }
}
body.page-template-process .design .feature .photo {
  position: relative;
  box-shadow: 0 2px 30px rgba(73, 76, 79, 0.3);
}
body.page-template-process .design .feature .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-process .design .feature .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-process .design .feature .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-process .design .feature .info .headline {
  padding-bottom: 1rem;
}
body.page-template-process .design .feature .info .headline h4 {
  font-weight: bold;
  color: #D4B154;
  font-size: clamp(1.125rem, 1.3vw, 1.25rem);
}
@media screen and (min-width: 992px) {
  body.page-template-process .design .feature {
    grid-template-columns: repeat(2, 1fr);
  }
  body.page-template-process .design .feature:nth-child(odd) .info {
    padding-left: 4rem;
  }
  body.page-template-process .design .feature:nth-child(even) .info {
    grid-column: 1;
    grid-row: 1;
    padding-right: 4rem;
  }
  body.page-template-process .design .feature:nth-child(even) .photo {
    grid-column: 2;
    grid-row: 1;
  }
}
body.page-template-process .construction {
  padding: 4rem 0;
  background: #fafafa;
}
@media screen and (min-width: 992px) {
  body.page-template-process .construction {
    padding: 8rem 0;
  }
}
body.page-template-process .construction .phase-header {
  text-align: center;
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  body.page-template-process .construction .phase-header > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-process .construction .phase-header > * {
    grid-column: 4/span 8;
  }
}
body.page-template-process .construction .phase-header .headline {
  padding-bottom: 1rem;
}
body.page-template-process .construction .feature {
  max-width: 70vw;
  transform: scale(0.8);
  transition: all 0.3s ease;
  filter: blur(2px) saturate(0.5);
  opacity: 0.6;
}
@media screen and (min-width: 992px) {
  body.page-template-process .construction .feature {
    max-width: 50rem;
  }
}
body.page-template-process .construction .feature:hover {
  cursor: pointer;
}
body.page-template-process .construction .feature.slick-active {
  transform: scale(1);
  filter: blur(0) saturate(1);
  opacity: 1;
}
body.page-template-process .construction .feature.slick-active:hover {
  cursor: default;
}
body.page-template-process .construction .feature .gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
body.page-template-process .construction .feature .gallery .photo-1 {
  grid-column: span 2;
}
body.page-template-process .construction .feature .gallery .photo-2,
body.page-template-process .construction .feature .gallery .photo-3 {
  position: relative;
}
body.page-template-process .construction .feature .gallery .photo-2:before,
body.page-template-process .construction .feature .gallery .photo-3:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-process .construction .feature .gallery .photo-2 > .content,
body.page-template-process .construction .feature .gallery .photo-3 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-process .construction .feature .photo {
  position: relative;
}
body.page-template-process .construction .feature .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
body.page-template-process .construction .feature .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-process .construction .feature .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-process .construction .feature .info {
  padding-top: 2rem;
}
body.page-template-process .construction .feature .headline {
  padding-bottom: 1rem;
}
body.page-template-process .construction .feature .headline h4 {
  font-weight: bold;
  color: #D4B154;
  font-size: clamp(1.125rem, 1.3vw, 1.25rem);
}
body.page-template-process .finishing {
  padding: 4rem 0;
  background: #f5f5f5;
}
@media screen and (min-width: 992px) {
  body.page-template-process .finishing {
    padding: 8rem 0;
  }
}
body.page-template-process .finishing .phase-header {
  text-align: center;
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  body.page-template-process .finishing .phase-header {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-process .finishing .phase-header {
    grid-column: 4/span 8;
  }
}
body.page-template-process .finishing .phase-header .headline {
  padding-bottom: 1rem;
}
body.page-template-process .finishing .feature + .feature {
  margin-top: 4rem;
}
body.page-template-process .finishing .feature .gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
body.page-template-process .finishing .feature .gallery .photo-1 {
  grid-column: span 2;
}
body.page-template-process .finishing .feature .gallery .photo-2,
body.page-template-process .finishing .feature .gallery .photo-3 {
  position: relative;
}
body.page-template-process .finishing .feature .gallery .photo-2:before,
body.page-template-process .finishing .feature .gallery .photo-3:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-process .finishing .feature .gallery .photo-2 > .content,
body.page-template-process .finishing .feature .gallery .photo-3 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-process .finishing .feature .photo {
  position: relative;
}
body.page-template-process .finishing .feature .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
body.page-template-process .finishing .feature .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-process .finishing .feature .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 992px) {
  body.page-template-process .finishing .feature .info {
    padding-left: 4rem;
  }
}
body.page-template-process .finishing .feature .info .headline {
  padding-bottom: 1rem;
}
body.page-template-process .finishing .feature .info .headline h4 {
  font-weight: bold;
  color: #D4B154;
  font-size: clamp(1.125rem, 1.3vw, 1.25rem);
}
body.page-template-process .finishing .toggle {
  background: #2A2A2A;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
  font-weight: bold;
  font-size: clamp(1.125rem, 1.3vw, 1.25rem);
}
body.page-template-process .finishing .toggle:hover {
  cursor: pointer;
  color: #D4B154;
}
body.page-template-process .finishing .feature-wrapper {
  display: grid;
  gap: 2rem;
  align-items: center;
  transition: all 0.2s ease;
  height: 0;
  overflow: hidden;
}
body.page-template-process .finishing .feature-wrapper > * {
  transition: all 1s ease;
  opacity: 0;
}
@media screen and (min-width: 992px) {
  body.page-template-process .finishing .feature-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  body.page-template-process .finishing .feature:nth-child(even) .feature-wrapper .info {
    grid-row: 1;
    grid-column: 1;
    padding-left: 0;
    padding-right: 4rem;
  }
  body.page-template-process .finishing .feature:nth-child(even) .feature-wrapper .photo {
    grid-row: 1;
    grid-column: 2;
  }
}
body.page-template-process .finishing .feature.active .toggle {
  color: #D4B154;
}
body.page-template-process .finishing .feature.active .feature-wrapper {
  height: auto;
  padding: 1rem 1rem;
}
body.page-template-process .finishing .feature.active .feature-wrapper > * {
  opacity: 1;
}

body.page-template-work-index .site-content {
  padding-bottom: 0;
}
body.page-template-work-index .overview {
  text-align: center;
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  body.page-template-work-index .overview > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-work-index .overview > * {
    grid-column: 4/span 8;
  }
}
body.page-template-work-index section.index {
  padding-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  body.page-template-work-index section.index {
    padding-bottom: 8rem;
  }
}
body.page-template-work-index section.index .row {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 480px) {
  body.page-template-work-index section.index .row.columns-two {
    grid-template-columns: repeat(2, 1fr);
  }
}
body.page-template-work-index section.index .row.columns-two .photo {
  position: relative;
}
body.page-template-work-index section.index .row.columns-two .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-work-index section.index .row.columns-two .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-work-index section.index .row.columns-two .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 480px) {
  body.page-template-work-index section.index .row.columns-two .photo {
    position: relative;
  }
  body.page-template-work-index section.index .row.columns-two .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }
  body.page-template-work-index section.index .row.columns-two .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 480px) {
  body.page-template-work-index section.index .row.columns-three {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  body.page-template-work-index section.index .row.columns-three {
    grid-template-columns: repeat(3, 1fr);
  }
}
body.page-template-work-index section.index .row.columns-three .photo {
  position: relative;
}
body.page-template-work-index section.index .row.columns-three .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-work-index section.index .row.columns-three .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-work-index section.index .row.columns-three .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-work-index section.index .row + .row {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-work-index section.index .row + .row {
    padding-top: 4rem;
  }
}
body.page-template-work-index section.index .row .label {
  padding-top: 1rem;
  text-align: center;
}
body.page-template-work-index section.index .row .label h3 {
  font-family: futura-pt, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: clamp(0.875rem, 1.1vw, 1rem);
}
body.page-template-work-index section.index .row .label h3 a:hover {
  text-decoration: underline;
}

body.page-template-work-detail .site-content {
  padding-bottom: 0;
}
body.page-template-work-detail section.gallery {
  padding-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  body.page-template-work-detail section.gallery {
    padding-bottom: 8rem;
  }
}
body.page-template-work-detail section.gallery:after {
  content: "";
  display: block;
  width: 100%;
  height: 33.3333%;
  background: #fafafa;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
body.page-template-work-detail section.gallery .section-header {
  text-align: center;
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  body.page-template-work-detail section.gallery .section-header {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-work-detail section.gallery .section-header {
    grid-column: 4/span 8;
  }
}
body.page-template-work-detail section.gallery .photo a {
  display: block;
}
body.page-template-work-detail .case-study {
  padding-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  body.page-template-work-detail .case-study {
    padding-bottom: 8rem;
  }
}
body.page-template-work-detail .case-study:before {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  background: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body.page-template-work-detail .case-study__header {
  padding-bottom: 2rem;
}
body.page-template-work-detail .case-study__header .headline {
  padding-bottom: 1rem;
}
body.page-template-work-detail .case-study__header .copy-2 {
  max-width: 928px;
}
body.page-template-work-detail .case-study__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body.page-template-work-detail .case-study__info .photos {
  width: 100%;
}
@media screen and (min-width: 992px) {
  body.page-template-work-detail .case-study__info .photos {
    width: calc(75% - 1rem);
  }
}
body.page-template-work-detail .case-study__info .photos .photo-wrapper {
  position: relative;
}
body.page-template-work-detail .case-study__info .photos .photo-wrapper:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-work-detail .case-study__info .photos .photo-wrapper > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-work-detail .case-study__info .photos .photo-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-work-detail .case-study__info .photos .slick-dots {
  bottom: -2rem;
}
body.page-template-work-detail .case-study__info .photos .slick-dots li button:before {
  border-color: #3d3d3d;
}
body.page-template-work-detail .case-study__info .photos .slick-dots li.slick-active button:before {
  background: #D4B154;
  border-color: #D4B154;
}
body.page-template-work-detail .case-study__info .copy-2 {
  width: 100%;
  padding-top: 4rem;
  line-height: 1.5em;
}
@media screen and (min-width: 992px) {
  body.page-template-work-detail .case-study__info .copy-2 {
    width: calc(25% - 1rem);
    padding-top: 0;
  }
}
body.page-template-work-detail .case-study__info .copy-2 p {
  margin-bottom: 2rem;
}

body.page-template-full-residences .residence {
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  body.page-template-full-residences .residence {
    margin-bottom: 8rem;
  }
}
body.page-template-full-residences .residence .photo {
  position: relative;
}
body.page-template-full-residences .residence .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
body.page-template-full-residences .residence .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-full-residences .residence .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  body.page-template-full-residences .residence .photo {
    position: relative;
  }
  body.page-template-full-residences .residence .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 37.5%;
  }
  body.page-template-full-residences .residence .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
body.page-template-full-residences .residence .photo a {
  display: block;
  width: 100%;
  height: 100%;
}
body.page-template-full-residences .residence .info {
  background: #fff;
  border-radius: 2px;
  padding: 1rem 1.75rem;
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.13);
}
body.page-template-full-residences .residence .info .headline h3 {
  font-family: futura-pt, sans-serif;
  line-height: 1em;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 1vw, 1rem);
  letter-spacing: 0.1em;
}

body.page-template-contact .contact-info {
  padding-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  body.page-template-contact .contact-info {
    padding-bottom: 8rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-contact .contact-info-wrapper {
    grid-column: 2/span 5;
  }
}
body.page-template-contact .contact-info .headline {
  padding-bottom: 1rem;
}
body.page-template-contact .contact-info .contact-details {
  padding-top: 3rem;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 480px) {
  body.page-template-contact .contact-info .contact-details {
    grid-template-columns: repeat(2, 1fr);
  }
}
body.page-template-contact .contact-info .detail + .detail {
  padding-top: 2rem;
}
body.page-template-contact .contact-info .detail .detail-header h4 {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #D4B154;
}
body.page-template-contact .contact-info .detail a:hover {
  text-decoration: underline;
}
body.page-template-contact .contact-info .detail .copy-2 {
  padding-top: 0.5rem;
}
body.page-template-contact .contact-info .detail .copy-2 p {
  line-height: 1.5em;
}
body.page-template-contact .contact-info .social-links {
  padding-top: 0.75rem;
}
body.page-template-contact .contact-info .social-links svg g {
  fill: #2A2A2A;
  transition: all 0.2s ease-in;
}
body.page-template-contact .contact-info .social-links a:hover svg g {
  fill: #D4B154;
}
body.page-template-contact .map {
  padding-top: 6rem;
}
@media screen and (min-width: 992px) {
  body.page-template-contact .map {
    padding-top: 0;
    grid-column: 8/span 6;
  }
}
body.page-template-contact .map a {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 2px 20px rgba(73, 76, 79, 0.2);
  transition: all 0.3s ease-in;
}
body.page-template-contact .map a:hover {
  box-shadow: 0 2px 30px rgba(73, 76, 79, 0.3);
}