.site-header {
    background: $slate;
    color: $white;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet-small {
        padding: 2rem;
    }



    @import 'logo';

    @import 'hamburger';

    @import 'navigation';



}

@import 'nav-overlay-open';

body.page-template-about .site-header .site-navigation ul .nav-about,
body.page-template-process .site-header .site-navigation ul .nav-process,
body.page-template-work-index .site-header .site-navigation ul .nav-projects,
body.page-template-work-detail .site-header .site-navigation ul .nav-projects,
body.page-template-contact .site-header .site-navigation ul .nav-contact {
    color: $slate;

    @include desktop-small {
        color: $mustard;
    }    
}