.site-logo {
    max-width: 280px;

    @include desktop-small {
        max-width: 320px;
    }

    @include desktop-medium {
        max-width: 352px;
        margin-left: 1rem;
    }

    a {
        display: block;
    }

    img {
        width: 100%;
    }
}