.site-navigation {
    ul {
        display: flex;
        align-items: center;

        @include desktop-medium {
            padding-right: 1rem;
        }

        li {
            & + li {
                margin-left: 3.25rem;
            }

            &.mobile-only {
                @include desktop-small {
                    display: none;
                }
            }
        }

        a {
            color: $white;
            font-size: 1.75rem;

            @include desktop-small {
                font-size: 1.25rem;
            }

            &:hover {
                color: $slate;
                    
                @include desktop-small {
                    color: $mustard;
                }
            }

            svg g {
                transition: all 0.2s ease-in;
            }

            &:hover {
                svg g {
                    fill: $slate;

                    @include desktop-small {
                        fill: $mustard;
                    }
                    
                }
            }
        }
    }

    @media screen and (max-width: 991px) {
        position: absolute;
        top: 0;
        z-index: 1000;
        left: -60vw;
        width: 60vw;
        height: 100vh;
        background: $mustard;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
        opacity: 0;
        transition: all 0.2s ease-in-out;

        ul {
            flex-wrap: wrap;
            padding: 3.25rem 2rem;

            li {
                width: 100%;
    
                & + li {
                    margin: 2rem 0 0 0;
                }
            }
        }


    }

}