body.nav-overlay-open {
	.hamburger {
        z-index: 100;

		a {
			.patty {
                background: none;

                &:after {
                    top: 0;
                    transform: rotate(45deg);
                }

                &:before {
                    top: 0;
                    transform: rotate(-45deg);
                }
			}
		}
	}

    @media screen and (max-width:  991px) {
        .site-navigation {
            left: 0;
            opacity: 1;
        }
    }


}