.construction {
    padding: 4rem 0;
    background: $off-white;

    @include desktop-small {
        padding: 8rem 0;
    }

    .phase-header {
        text-align: center;
        padding-bottom: 4rem;

        & > * {
            @include tablet {
                grid-column: 3 / span 6;
            }
        
            @include desktop-small {
                grid-column: 4 / span 8;
            }
        }

        .headline {
            padding-bottom: 1rem;
        }
    }

    .feature {
        max-width: 70vw;
        transform: scale(0.8);
        transition: all 0.3s ease;
        filter: blur(2px) saturate(0.5);
        opacity: 0.6;

        @include desktop-small {
            max-width: 50rem;
        }

        &:hover {
            cursor: pointer;
        }

        &.slick-active {
            transform: scale(1);
            filter: blur(0) saturate(1);
            opacity: 1;

            &:hover {
                cursor: default;
            }
        }

        .gallery {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);

            .photo-1 { 
                grid-column: span 2;
            }

            .photo-2,
            .photo-3 {
                @include aspect-ratio(4, 3);
            }
        }

        .photo {
            @include aspect-ratio(16, 9);
            @include cover-fill-image;
        }
        
        .info {
            padding-top: 2rem;
        }

        .headline {
            padding-bottom: 1rem;
            
            h4 {
                font-weight: bold;
                color: $mustard;
                font-size: clamp(1.125rem, 1.3vw, 1.25rem);
            }            
        }
    }

}