.design {
    padding-bottom: 4rem;

    @include desktop-small {
        padding-bottom: 8rem;
    }

    .phase-header {
        text-align: center;
        padding-bottom: 4rem;

        @include tablet {
            grid-column: 3 / span 6;
        }
    
        @include desktop-small {
            grid-column: 4 / span 8;
        }

        .headline {
            padding-bottom: 1rem;
        }
    }

    .features {
        @include tablet {
            grid-column: 3 / span 6;
        }
        
        @include desktop-small {
            grid-column: 2 / span 12;
        }
    }

    .feature {
        display: grid;
        gap: 2rem;
        align-items: center;



        & + .feature {
            margin-top: 4rem;

            @include desktop-small {
                margin-top: 6rem;
            }
        }

        .photo {
            @include aspect-ratio(4, 3);
            @include cover-fill-image;
            box-shadow: 0 2px 30px rgba(73, 76, 79, 0.3);
        }

        .info {
            .headline {
                padding-bottom: 1rem;

                h4 {
                    font-weight: bold;
                    color: $mustard;
                    font-size: clamp(1.125rem, 1.3vw, 1.25rem);
                }
            }
        }

        @include desktop-small {
            grid-template-columns: repeat(2, 1fr);

            &:nth-child(odd) {
                .info {
                    padding-left: 4rem;
                }
            }

            &:nth-child(even) {
                .info {
                    grid-column: 1;
                    grid-row: 1;
                    padding-right: 4rem;
                }

                .photo {
                    grid-column: 2;
                    grid-row: 1;
                }
            }
        }
    }


}