.finishing {
    padding: 4rem 0;
    background: #f5f5f5;

    @include desktop-small {
        padding: 8rem 0;
    }

    .phase-header {
        text-align: center;
        padding-bottom: 4rem;

        @include tablet {
            grid-column: 3 / span 6;
        }
    
        @include desktop-small {
            grid-column: 4 / span 8;
        }

        .headline {
            padding-bottom: 1rem;
        }
    }



    .feature {

        & + .feature {
            margin-top: 4rem;

        }

        .gallery {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);

            .photo-1 { 
                grid-column: span 2;
            }

            .photo-2,
            .photo-3 {
                @include aspect-ratio(4, 3);
            }
        }

        .photo {
            @include aspect-ratio(16, 9);
            @include cover-fill-image;
        }

        .info {

            @include desktop-small {
                padding-left: 4rem;
            }
            .headline {
                padding-bottom: 1rem;

                h4 {
                    font-weight: bold;
                    color: $mustard;
                    font-size: clamp(1.125rem, 1.3vw, 1.25rem);
                }
            }
        }
    }

    .toggle {
        background: $slate;
        color: $white;
        padding: 1rem;
        margin-bottom: 1rem;
        transition: all 0.2s ease;
        font-weight: bold;
        font-size: clamp(1.125rem, 1.3vw, 1.25rem);

        &:hover {
            cursor: pointer;
            color: $mustard;
        }
    }

    .feature-wrapper {
        display: grid;
        gap: 2rem;
        align-items: center;

        transition: all 0.2s ease;
        height: 0;
        overflow: hidden;

        & > * {
            transition: all 1s ease;
            opacity: 0;
        }


        @include desktop-small {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .feature:nth-child(even) {
        @include desktop-small {
            .feature-wrapper {
                .info {
                    grid-row: 1;
                    grid-column: 1;
                    padding-left: 0;
                    padding-right: 4rem;
                }
    
                .photo {
                    grid-row: 1;
                    grid-column: 2;
                }
            }
        }
    }

    .feature.active {
        .toggle {
            color: $mustard;
        }

        .feature-wrapper {
            height: auto;
            padding: 1rem 1rem;

            & > * {
                opacity: 1;
            }
        }
    }
}