section.index {
    padding-bottom: 4rem;

    @include desktop-small {
        padding-bottom: 8rem;
    }

    .row {
        display: grid;
        gap: 2rem;

        &.columns-two {
            @include tablet-small {
                grid-template-columns: repeat(2, 1fr);
            }

            .photo {
                @include aspect-ratio(4, 3);
                @include cover-fill-image;

                @include tablet-small {
                    @include aspect-ratio(16, 9);
                }
            }
        }

        &.columns-three {
            @include tablet-small {
                grid-template-columns: repeat(2, 1fr);
            }

            @include tablet {
                grid-template-columns: repeat(3, 1fr);
            }

            .photo {
                @include aspect-ratio(4, 3);
                @include cover-fill-image;
            }
        }

        & + .row {
            padding-top: 2rem;

            @include tablet {
                padding-top: 4rem;
            }
        }

        .label {
            padding-top: 1rem;
            text-align: center;

            h3 {
                font-family: $futura-pt;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                font-size: clamp(0.875rem, 1.1vw, 1rem);

                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }


}