.overview {
    text-align: center;
    padding-bottom: 4rem;

    & > * {
        @include tablet {
            grid-column: 3 / span 6;
        }
    
        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }
}