.case-study {
    padding-bottom: 4rem;

    @include desktop-small {
        padding-bottom: 8rem;
    }

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        background: $off-white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__header {
        padding-bottom: 2rem;

        .headline {
            padding-bottom: 1rem;
        }

        .copy-2 {
            max-width: 928px;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;



        .photos {
            width: 100%;

            @include desktop-small {
                width: calc(75% - 1rem);
            }

            .photo-wrapper {
                @include aspect-ratio(4, 3);
                @include cover-fill-image;
            }

            .slick-dots {
                bottom: -2rem;

                li button:before {
                    border-color: $charcoal;
                }

                li.slick-active button:before {
                    background: $mustard;
                    border-color: $mustard;
                }
            }
        }

        .copy-2 {
            width: 100%;
            padding-top: 4rem;
            line-height: 1.5em;

            @include desktop-small {
                width: calc(25% - 1rem);
                padding-top: 0;
            }

            p {
                margin-bottom: 2rem;
            }
        }
    }
}