section.gallery {
    padding-bottom: 4rem;

    @include desktop-small {
        padding-bottom: 8rem;
    }

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 33.3333%;
        background: $off-white;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .section-header {
        text-align: center;
        padding-bottom: 4rem;

        @include tablet {
            grid-column: 3 / span 6;
        }
    
        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .photo {
        a {
            display: block;
        }
    }
}