.about-contact {
    padding-bottom: 2rem;

    @include desktop-small {
        padding-bottom: 4rem;
    }

    .history {
        border: 2px solid $mustard;
        padding: 2rem;

        @include desktop-medium {
            display: grid;
            gap: 2rem;
            align-items: start;
            grid-template-columns: 12rem 1fr;
        }

        .headline {
            h3 {
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                color: $mustard;
                font-size: clamp(1.375rem, 3vw, 1.75rem);
            }
        }

        .copy-2 {
            padding: 0.5rem 0 2rem 0;
            font-size: clamp(1rem, 1.1vw, 1.125rem);

            @include desktop-medium {
                padding: 0 0 2rem 0;
            }

            & > * + * {
                margin-top: 2rem;
            }
        }
    }

    .contact-cta {
        margin-top: 2rem;
        background: $mustard;
        padding: 2rem;

        .cta {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
}
