.site-footer {
    background: $charcoal;
    color: $white;
    padding: 4rem 0;
    font-size: 1rem;
    font-weight: 400;

    a {
        color: $white;

        &:hover {
            color: $mustard;
        }
    }
    
    .site-logo {
        padding-bottom: 4rem;
    }

    .section-header {
        padding-bottom: 0.75rem;
        
        h4 {
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-size: 1rem;
            font-family: $futura-pt;
        }
    }

    .footer-navigation {
        @include tablet-small {
            grid-column: 2 / span 4;
        }

        ul {
            li {
                & +  li {
                    margin-top: 0.75rem;
                }
            }
        }
        .child-page {
            display: flex;
            align-items: center;
            &:before {
                content: '';
                display: block;
                width: 1rem;
                height: 1px;
                background: $white;
                margin-right: 0.5rem;

            }
        }
    }

    .contact-1,
    .contact-2 {
        .detail {
            & + .detail {
                padding-top: 3rem;
            }

            p {
                line-height: 1.5em;
            }
        }
    }

    .contact-1 {
        padding-top: 4rem;

        @include tablet-small {
            padding-top: 0;
            grid-column: 6 / span 4;
        }

    }

    .contact-2 {
        @include tablet-small {
            grid-column: 2 / span 4;
            padding-top: 4rem;
        }

        @include desktop-small {
            padding-top: 0;
            grid-column: 10 / span 4;
        }
    }

    .social-links {
        a {
            svg g {
                transition: all 0.2s ease-in;
            }
            &:hover {
                svg g {
                    fill: $mustard;
                }
            }
        }        
    }

    .copyright {
        margin-top: 4rem;
        padding-top: 1rem;
        border-top: 1px solid rgba(216, 216, 216, 0.1);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 0.875rem;

        & > * {
            opacity: 0.5;
        }

        p {
            width: 100%;
            padding-bottom: 0.5rem;

            @include tablet-small {
                width: auto;
                padding-bottom: 0;
                padding-right: 1rem;
            }
        }

        a {
            text-decoration: underline;

            & + a {
                margin-left: 1rem;
            }
        }
    }

}

@import 'footer/about-contact';    