.faqs {
    background: $slate;
    color: $white;
    padding: 4rem 0;

    @include desktop-small {
        padding: 8rem 0;
    }

    & > * {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .headline {
        text-align: center;
        padding-bottom: 2rem;
    }

    .faq {
        & + .faq {
            margin-top: 4rem;
        }
    }

    .question {
        border: 1px solid $mustard;
        padding: 1rem 2rem;
        transition: all 0.2s ease;

        &:hover {
            cursor: pointer;
            background: $mustard;
            color: $slate;
        }

        h4 {
            font-weight: bold;
            font-size: clamp(1rem, 1.4vw, 1.125rem);
            line-height: 1.5em;
        }
    }

    .answer {
        transition: all 0.2s ease;
        background: $white;
        height: 0;
        overflow: hidden;

        & > * {
            transition: all 1s ease;
            opacity: 0;
        }

    }

    .faq.active {
        .question {
            background: $mustard;
            color: $slate;
        }
        .answer {
            height: auto;
            margin-top: 2rem;
            padding: 2rem;
            box-shadow: 0 2px 30px rgba(0, 0, 0, 0.4);

            & > * {
                opacity: 1;
            }
        }
    }
}