.history {
    padding: 4rem 0;

    @include desktop-small {
        padding: 8rem 0;
    }

    .history-header {
        text-align: center;
        padding-bottom: 3rem;

        & > * {
            @include tablet {
                grid-column: 3 / span 6;
            }

            @include desktop-small {
                grid-column: 4 / span 8;
            }
        }

        .headline {
            padding-bottom: 1rem;
        }
    }

    .event {
        max-width: 70vw;
        transform: scale(0.8);
        transition: all 0.3s ease;
        filter: blur(2px) saturate(0.5);
        opacity: 0.6;

        @include desktop-small {
            max-width: 50rem;
        }

        &:hover {
            cursor: pointer;
        }

        &.slick-active {
            transform: scale(1);
            filter: blur(0) saturate(1);
            opacity: 1;

            &:hover {
                cursor: default;
            }
        }

        .photo {
            @include aspect-ratio(16, 9);
            @include cover-fill-image;
        }

        .info {
            padding-top: 2rem;
            display: grid;
            gap: 1rem;
            align-items: center;

            @include tablet {
                grid-template-columns: 1fr 5fr;
                gap: 2rem;
            }
        }

        .year {
            h4 {
                font-size: clamp(1.75rem, 4vw, 3.5rem);
                color: $mustard;
                font-weight: 400;
            }
        }

        .caption {
            line-height: 1.5em;

            & > * + * {
                margin-top: 0.5rem;
            }
        }
    }
}

.overview + .history {
    padding-top: 0;
}
