.overview {
    align-items: start;
    padding-bottom: 4rem;

    @include desktop-small {
        padding-bottom: 8rem;
    }

    .info {
        padding-bottom: 3rem;

        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            padding-bottom: 0;
            grid-column: 2 / span 5;
        }
        
        .headline {
            padding-bottom: 1rem;
        }
    }

    .gallery {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 8 / span 6;
        }
        
        .photo-1 {
            grid-column: 1 / -1;

            @include aspect-ratio(16, 9);
            @include cover-fill-image;
        }

        .photo-2,
        .photo-3 {
            @include aspect-ratio(4, 3);
            @include cover-fill-image;
        }
        
    }


}