.copy-1 {
	font-size: clamp(1.25rem, 1.7vw, 1.5rem);
	line-height: 1.7777em;
	color: $charcoal;
}

.copy-2 {
	font-size: clamp(1.125rem, 1.2vw, 1.25rem);
	line-height: 2em;
	color: $charcoal;
}

.copy-1,
.copy-2 {
	&.extended {
		p + p {
			margin-top: 1.5rem;
		}
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	ul, ol {
		padding-left: 1.5rem;
		padding-top: 2rem;
	}
}
