body,
button,
input,
select,
optgroup,
textarea {
	font-family: $futura-pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $futura-pt;
}

a {
	color: $slate;
	transition: all 0.2s ease-in-out;
}

@import "headings";

@import "copy";