body {
	background: $white;
}

@import "grid";

@import "sub-grid";

/*
.grid-sizer,
.grid-item {
	width: calc(50% - 8px);

	@include tablet {
		width: calc(33.3333% - 16px);
	}
}

.grid-item {
	margin-bottom: 16px;
}
*/