body.page-template-contact {

    .contact-info {
        padding-bottom: 4rem;

        @include desktop-small {
            padding-bottom: 8rem;
        }
        
        &-wrapper {
            @include desktop-small {
                grid-column: 2 / span 5;
            }    
        }

        .headline {
            padding-bottom: 1rem;
        }

        .contact-details {
            padding-top: 3rem;
            display: grid;
            gap: 2rem;

            @include tablet-small {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .detail {

            & + .detail {
                padding-top: 2rem;
            }

            .detail-header {
                h4 {
                    font-weight: bold;
                    font-size: 1rem;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    color: $mustard;
                }
            }

            a {
                &:hover {
                    text-decoration: underline;
                }
            }

            .copy-2 {
                padding-top: 0.5rem;
                p {
                    line-height: 1.5em;
                }
            }


        }
        .social-links {
            padding-top: 0.75rem;

            svg g {
                fill: $slate;
                transition: all 0.2s ease-in;
            }

            a {
                &:hover {
                    svg g {
                        fill: $mustard;
                    }
                }
            }
        }
    }

    .map {
        padding-top: 6rem;

        @include desktop-small {
            padding-top: 0;
            grid-column: 8 / span 6;
        }

        a {
            display: block;
            max-width: 600px;
            margin: 0 auto;
            box-shadow: 0 2px 20px rgba(73, 76, 79, 0.2);
            transition: all 0.3s ease-in;

            &:hover {
                box-shadow: 0 2px 30px rgba(73, 76, 79, 0.3);
            }

        }
    }



}