body.page-template-full-residences {
    .residence {
        margin-bottom: 4rem;

        @include tablet {
            margin-bottom: 8rem;
        }

        .photo {
            @include aspect-ratio(16, 9);
            @include cover-fill-image;

            @include tablet {
                @include aspect-ratio(16, 6);
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .info {
            background: $white;
            border-radius: 2px;
            padding: 1rem 1.75rem;
            position: absolute;
            bottom: -1rem;
            left: 2rem;
            box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);

            .headline {
                h3 {
                    font-family: $futura-pt;
                    line-height: 1em;
                    text-transform: uppercase;
                    font-size: clamp(0.875rem, 1vw, 1rem);
                    letter-spacing: 0.1em;
                }
            }
        }
    }
}