body.page-template-home {

    .site-content {
        padding-bottom: 0;
    }

    @import 'home/hero';

    @import 'home/about';

    @import 'home/hardwoods';

    @import 'home/finishes';

    @import 'home/staging';

}