body.page-template-process {
    .site-content {
        padding-bottom: 0;
    }
    
    @import 'process/overview';

    @import 'process/design';

    @import 'process/construction';

    @import 'process/finishing';
}