.about {
    padding: 6rem 0;
    text-align: center;

    @include desktop-small {
        padding: 8rem 0;
    }

    & > * {
        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .headline {
        h2 {
            font-size: clamp(1.375rem, 2vw, 1.75rem);
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
    }

    .sub-headline {
        padding-top: 0.5rem;

        &:after {
            content: '';
            display: block;
            width: 40px;
            height: 3px;
            background: $charcoal;
            margin: 1rem auto 2rem;
        }

        h3 {
            font-style: italic;
            font-size: clamp(1rem, 1.3vw, 1.25rem);
            color: $light-gray;
        }
    }
}