.finishes {
    padding: 6rem 0;
    background: $slate;
    color: $white;

    @include desktop-small {
        padding: 8rem 0;
    }

    .counter {
        color: $white;
        margin-bottom: 1rem;

        &-wrapper {
            border-color: rgba(255, 255, 255, 0.6);
        }

        h5 {
            border-color: rgba(255, 255, 255, 0.5);
            color: $white;
        }
    }


    .copy-2 {
        color: $white;
        padding: 1rem 0 2rem 0;
    }

    .info {
        @include tablet {
            grid-column: 2 / span 4;
        }

        @include desktop-small {
            grid-column: 2 / span 5;
        }

        @include desktop-medium {
            display: grid;
            gap: 2rem;
            grid-template-columns: 5rem 1fr;

            & > * {
                grid-column: 2;
                align-self: start;
            }

            .counter {
                grid-column: 1;
                grid-row: 1;
            }
        }
    }

    .photo {
        margin-top: 2rem;
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.5);
        align-self: start;

        @include tablet {
            margin-top: 0;
            grid-column: 6 / span 4;
        }

        @include desktop-small {
            grid-column: 8 / span 6;
        }
    }
}