.hardwoods {
    padding: 0 0 6rem 0;

    @include desktop-small {
        padding: 0 0 8rem 0;
    }

    .info {
        @include tablet {
            grid-column: 7 / span 3;
            grid-row: 1;
        }

        @include desktop-small {
            grid-column: 7 / span 7;
        }

        @include desktop-medium {
            display: grid;
            gap: 2rem;
            grid-template-columns: 5rem 1fr;

            & > * {
                grid-column: 2;
                align-self: start;
            }

            .counter {
                grid-column: 1;
                grid-row: 1;
            }
        }
    }

    .counter {
        margin-bottom: 1rem;
    }

    .copy-2 {
        padding: 1rem 0 2rem 0;
    }

    .photo {
        padding-top: 3rem;

        @include tablet {
            padding-top: 0;
            grid-column: 2 / span 4;
            grid-row: 1;
        }
    }
}