.hero {

    
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        background: $slate;
        z-index: -1;
        top: 0;
        left: 0;
        position: absolute;
    }

    &-content {
        z-index: 10;
        color: $white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;

        &__wrapper {
            padding: 1rem;
            width: 100%;

            @include tablet {
                padding: 3rem;
            }
        }

        .headline {
            h1 {
                font-size: clamp(1.25rem, 4vw, 2.5rem);
                font-weight: bold;
                text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
                line-height: 1.25em;
                font-family: $futura-pt;

                @include tablet {
                    font-size: clamp(3rem, 4.75vw, 4rem);
                }
            }
        }

        .tagline {
            padding: 0.5rem 0 1rem 0;

            @include tablet {
                padding: 1rem 0 2rem 0;
            }

            h2 {
                font-size: clamp(0.75rem, 1.3vw, 1rem);
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.15em;
                text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
                font-family: $futura-pt;
            }
        }

        .ctas {
            display: flex;
            align-items: center;

            .cta {
                & + .cta {
                    padding-left: 0.5rem;
                }
            }
        }
    }

    &-slider {
        grid-column: 1 / -1;

        &__wrapper {
            box-shadow: 0 2px 50px rgba(73, 76, 79, 0.6);

            @include desktop-x-large {
                max-width: 1920px;
                margin: 0 auto;
            }
        }

        .photo { 
            @include aspect-ratio(4, 3);
            @include cover-fill-image;

            @include tablet {
                @include aspect-ratio(16, 9);
            }
        }

        .caption {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            z-index: 10;

            @include tablet {
                bottom: 2rem;
                left: 3rem;
            }

            p {
                background: rgba(255, 255, 255, 0.75);
                padding: 0.5rem 1rem;
                font-family: $baskerville;
                font-size: clamp(0.75rem, 1.1vw, 0.9375rem);
                color: $black;

                a {
                    color: $black;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .slick-slide {
        &:hover {
            cursor: ew-resize;
        }
    }

    .slick-prev {
        display: none !important;
    }

    .slider-controls {
        @include desktop-x-large {
            max-width: 1920px;
            margin: 0 auto;
        }

        &__wrapper {
            position: absolute;
            bottom: -2rem;
            right: 1rem;
            font-size: 0.75rem;
            letter-spacing: 0.1rem;
            z-index: 10;

            @include desktop-x-large {
                right: 0;
            }
        }
    }
}