.staging {
    padding: 6rem 0;
    text-align: center;

    @include desktop-small {
        padding: 8rem 0;
    }

    .counter {
        justify-content: center;
        margin-bottom: 1rem;
    }

    .headline {
        padding-bottom: 3rem;
    }

    .photo {
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.5);
        
        img {
            width: 100%;
        }
    }

    .copy-2 {
        padding: 2rem 0;

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }
}