.cta {
    .btn {
        display: inline-block;
        color: $white;
        border: 2px solid $mustard;
        background: $mustard;
        padding: 0.75rem 1rem;
        font-size: clamp(0.875rem, 1vw, 1rem);
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.15em;

        @include tablet {
            font-weight: bold;
            padding: 1.25rem 1.75rem;
        }

        &.outline {
            background: transparent;

            &:hover {
                background: $mustard;
            }


            &__white {
                color: $white;
                border-color: $white;

                &:hover {
                    background: $white;
                    color: $mustard;
                }
            }
        }
    }

    .underline {
        font-weight: bold;
        color: $mustard;
        text-decoration: underline;
        font-size: clamp(1rem, 1.2vw, 1.375rem);
    }
}