.counter {
    display: flex;

    &-wrapper {
        display: flex;
        padding: 5px;
        border: 2px solid rgba(42, 42, 42, 0.6);
    }


    h5 {
        padding: 1.25rem;
        border: 1px solid rgba(42, 42, 42, 0.5);
        font-style: italic;
        font-size: 1.5rem;
        font-family: Georgia, sans-serif;
        color: $charcoal;
    }
}