body {
    .fslightbox-container {
        background: rgba(255, 255, 255, 0.9);
    }

    .fslightbox-toolbar {
        top: 6px;
        right: 6px;
        background: unset;
    }

    .fslightbox-slide-btn,
    .fslightbox-toolbar-button {
        background: $mustard;
        border: 1px solid rgba(0, 0, 0, 0.075);
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: translateY(-2px);
        }

        &[title="Exit fullscreen"] {
            display: none;
        }
        
        .fslightbox-svg-path {
            fill: $white;

            &:hover {
                fill: $white;
            }
        }
    }
}