.default-hero {
    align-items: center;
    margin-bottom: 4rem;

    @include desktop-small {
        margin-bottom: 8rem;
    }
    
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        background: $slate;
        z-index: -1;
        top: 0;
        left: 0;
        position: absolute;
    }

    .photo {
        grid-row: 1;
        grid-column: 1 / -1;
        @include aspect-ratio(16, 9);
        @include cover-fill-image;

        @include tablet {
            @include aspect-ratio(16, 6);
        }

        @include desktop-xx-large {
            @include aspect-ratio(16, 5);
        }
        
        .content {
            box-shadow: 0 2px 50px rgba(73, 76, 79, 0.6);
            @include desktop-x-large {
                max-width: 1920px;
                margin: 0 auto;
            }
        }
    }

    .info {
        grid-row: 1;
        color: $white;

        .headline {
            h1 {
                font-size: clamp(1.25rem, 4vw, 2.5rem);
                font-weight: bold;
                text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
                line-height: 1.25em;
                font-family: $futura-pt;

                @include tablet {
                    font-size: clamp(3rem, 4.75vw, 4rem);
                }
            }
        }

        .sub-headline {
            padding: 0 0 0.5rem 0;
            h2 {
                font-size: clamp(0.75rem, 1.3vw, 1rem);
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.15em;
                text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
                font-family: $futura-pt;
            }
        }
    }
}